*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    height: 100%;
}



main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:929px; 
}



.bigger{
    display: flex;
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 25, 25);
    width: 880px;
    height: 55vh;
    display: flex;
    display: inline-block;
    border-radius: 15px;
}



.up{
    display: flex;
    display: block;
    text-align: center;
    width:880px;
    height: 125px;
}



h1{
    color: rgb(172, 172, 172);
    margin-top: 25px;
}



.flix{
    width: 200px;
    height: 50px;
    margin-top: 30px;  
}
.quite{
    text-align: center;
    width:880px;
    height: 35vh;
}



ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 880px;
    height: 30vh;
}



li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width:10%;
    height: 20vh;
    margin: 10px; 
}



figure{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:112%;
    height: 15vh;
}
figure:hover{
    color:rgb(255, 255, 255);
}



.ima{
    width:100px;
    border-radius: 15px;
    height: 100px; 
     border: 5px solid rgb(31, 31, 31);
}
figure:hover .ima {
    border: 0px solid rgb(168, 168, 168);   
}



figcaption{
    color:rgb(154, 154, 154);
}
figure:hover figcaption{
    color:rgb(255, 255, 255);
}



.div{
    background-color: rgb(75, 75, 75);
    height: 100px;
}



.but{
    margin-top: 10px;
}



.ad{
    width: 107px;
}



label{
    color: rgb(172, 172, 172);
    border: 2px solid rgb(172, 172, 172);
    padding: 10px;
    border-radius: 10px;
}



label:hover{
    background-color: rgb(199, 199, 199);
    color: black;
    border-radius: 15px;
}